body {
    width: 100%;
    font-family:Montserrat-Bold,Tahoma,AdobeInvisFont,MyriadPro-Regular ;
}
.page-1 {
    
    height: 520px;
    background-color:#EEEDEC;
    margin: 0px;
    background-size: 100%;
    
}

.logo {
   margin-left: 150px;
    padding-top: 20px;
    width: 100px;
}

header {
    display: flex;
}    

nav {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 70px;
    display: inline-block;
    
}

nav:before {
content: '';
display: block;
height: 20px;
width: 100%;
background-color: #FCF6F6;
position: absolute;
right: 0;
z-index: -1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 20px;
    font-size: 11px;
    font-family:Montserrat-Bold,Tahoma,AdobeInvisFont,MyriadPro-Regular ;
}
.home {
    color: #F36F0E;
}
ul li {
    float: left;
}

ul li a {
    display: block;
    height: 20px;
    padding: 0 20px;
    text-decoration: none;
    line-height: 20px;
    color: #7E7D7C;
}

ul li a:hover {
    background: #ECE4E4;
}

.foto1 {
    width: 270px;
    float: right;
    margin-top: 65px;
    margin-right: 95px;
}

.page1-1 {
    font-size: 20px;
       
}
p {
    color: #7E7D7C;
}
span {
    font-size: 45px;
    color: #F36F0E;
}

aside {
    margin-left: 165px;
    margin-top: 125px;
}

button {
    border-radius: 40%;
    background-color: #F36F0E;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: #FCF6F6;
    margin-top: 45px;
    float: right;

}
.page-21 {
    background-color: #DFE1DC; 
}
.page2 {
    height: 520px;
    background-color: #DFE1DC;
}
.foto2 {
    margin: 100px;
    float: left;
    display: flex;
}
.box2 {
    font-size: 20px;
    text-align: left;
    float: right;
    width: 55%;
    margin-top: 100px;margin-bottom: 20px;
}
.box21 {
    font-size: 15px;
    text-align: left;
    font-family: Lato-Regular,AdobeInvisFont,MyriadPro-Regular;
    
}
.page-3 {
    height: 520px;
    background-color:#FCF6F6 ;
    margin: 0px;
}
.page-31 {
    background-color: #FCF6F6;
}
.page33 {
    font-family: Lato-Regular,AdobeInvisFont,MyriadPro-Regular;
    width: 35%;
    float: left;
    flex-direction: column;
    margin: 0;
}
.inp3 {
    background-color:  #F36F0E;
    border-radius: 40%;
    display: flex;
    float: right;
}

footer {
    height: 81px;
    background-color:#ECE4E4;
}

.text4 {
    padding-top: 20px;
    float: left;
    width: 40%;
}

.foto4 {
    width: 21px;
    height: 21px;
    margin-top: 20px;
    margin-left: 35px;
} 

.down {
display: flex;
width: 40%;
float: right;
}

h1 {
    padding-top: 30px;
}

form {
    float: right;
    padding-right: 100px;
    padding-top: 50px;
}
.inp {
    display: flex;
    margin-bottom: 20px;
}

.inp1 {
    margin-right: 20px;
    border-color: #F36F0E;
}

.inp3 {
    color: #ECE4E4;
}
.button2 {
    
    background-color: #F36F0E;
    padding: 10px 10px;
    border-radius: 100px;
    border: 1px solid #F36F0E;
    width: 40%;
    text-align: center;
    font-family: Montserrat-Bold,AdobeInvisFont,MyriadPro-Regular;
    margin-top: 20px;
}
.button1 {
    
    background-color: #F36F0E;
    padding: 10px 10px;
    border-radius: 100px;
    border: 1px solid #F36F0E;
    width: 20%;
    text-align: center;
    font-family: Montserrat-Bold,AdobeInvisFont,MyriadPro-Regular;
    margin-top: 20px;
}

.page33 {
    width: 400px;
    height: 300px;
    padding-left: 100px;
    padding-top: 100px;

}
.text33 {
    padding-left: 15px;
}
#name {
    float: right;
    margin-top: 55px;
}